/* Typoraphy CSS */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #f34040;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}

/* 10 x 100/16 = 62.5% */
/* 62.5% cá»§a 16px = 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: var(--color-body);
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
  margin-bottom: 2rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
}

/* Link CSS */
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  position: relative;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s ease 0s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
a {
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badge Component CSS */
.badge {
  border-radius: 20px;
  padding: 0.5rem 2rem;
  font-weight: 600;
  font-size: 2rem;

  white-space: normal;
}

.badge--primary {
  background-color: var(--color-primary);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.1rem;
  }
}

/* Block-Skewed-Left CSS */
.hero--tagline {
  font-size: 2rem;
  color: var(--color-body);
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.hero--image{
  width: 550px;
}

.container{
  background-color: #000;
  clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
}

.block--heading{
  color: #fff;
}

/* .hero{
  cli
} */