<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Block-Skewed-Left</title>
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <header>
      <h1 class="block--heading">Cloud hosting for pros</h1>
      <p class="hero--tagline">Deploy your websites in less than 60 seconds.</p>
      <a href="#" class="btn">GET STARTED</a>
    </header>
    <img src="../images/banner.png" alt="hero-img" class="hero--image" />
  </body>
</html>
